<div class="headersContainer">
  <div class="left column">
    <select [value]="leftRate" (change)="onLeftSelect($event.target.value)">
      <option *ngFor="let rate of rateNames" [value]="rate" [disabled]="rate === rightRate">{{rate}}</option>
    </select>
  </div>
  <div class="button" (click)="onSwapClick()">SWAP</div>
  <div class="right column">
    <select [value]="rightRate" (change)="onRightSelect($event.target.value)">
      <option *ngFor="let rate of rateNames" [value]="rate" [disabled]="rate === leftRate">{{rate}}</option>
    </select>
  </div>
</div>